<nav
  class="fixed top-0 left-0 right-0 bg-white border-b border-gray-300 shadow-sm z-50"
>
  <div class="container">
    <div class="flex items-center justify-between py-3">
      <div
        class="w-10 h-10 rounded-full bg-yellow-400 flex items-center justify-center text-xl font-bold"
      >
        😃
      </div>

      <ul class="flex items-center">
        <li>
          <a
            href="#profile"
            class="px-3 py-1 border-2 border-gray-400 rounded-l-sm border-r-0 hover:bg-gray-100"
            >Home</a
          >
        </li>
        <li>
          <a
            href="#profile"
            class="px-3 py-1 border-2 border-gray-400 hover:bg-gray-100"
            >Our Profile</a
          >
        </li>
        <li>
          <a
            href="#portofolio"
            class="px-3 py-1 border-2 border-l-0 border-r-0 border-gray-400 hover:bg-gray-100"
            >Portfolio</a
          >
        </li>
        <li>
          <a
            href="#message"
            class="px-3 py-1 border-2 border-gray-400 rounded-r-sm hover:bg-gray-100"
            >Message Us</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
